<div class="banner-area">
    <!-- AiWavesmall Slider -->
    <div class="settings-area">
        <h3 class="title">{{headTitle}}</h3>
        <ul class="user-nav">
            <li>
                <a href="/pages/profile-details">
                    <span>Profile Details</span>
                </a>
            </li>
            <li>
                <a href="/pages/notification">
                    <span>Notification</span>
                </a>
            </li>
            <li>
                <a href="/pages/chat-export">
                    <span>Chat Export</span>
                </a>
            </li>
            <li>
                <a href="/pages/appearance">
                    <span>Apperance</span>
                </a>
            </li>
            <li>
                <a href="/pages/plans-billing">
                    <span>Plans and Billing</span>
                </a>
            </li>
            <li>
                <a href="/pages/sessions">
                    <span>Sessions</span>
                </a>
            </li>
        </ul>
    </div>
</div>