<div class="rbt-left-panel popup-dashboardleft-section">
    <div class="rbt-default-sidebar">
        <div class="inner">
            <div class="content-item-content">
                {% include './navbarLinks.html' %}
            </div>
        </div>
        <div class="subscription-box">
            <div class="inner">
                <a href="/pages/profile-details" class="autor-info">
                    <div class="author-img active">
                        <img class="w-100" src="/static/images/team/team-01sm.jpg" alt="Author">
                    </div>
                    <div class="author-desc">
                        <h6>Adam Milner</h6>
                        <p>trentadam@net</p>
                    </div>
                    <div class="author-badge">Free</div>
                </a>
                <div class="btn-part">
                    <a href="/pages/pricing" class="btn-default btn-border">Upgrade To Pro</a>
                </div>
            </div>
        </div>
        <p class="subscription-copyright copyright-text text-center b3  small-text">© 2024 <a href="https://themeforest.net/user/pixcelsthemes">Pixcels Themes</a>.</p>
    </div>
</div>