<ul class="mainmenu">
    <li><a href="/">Home</a></li>
    <li class="has-dropdown has-menu-child-item position-relative"><a href="#">Tools <i class="fa-regular fa-chevron-down"></i></a>
        <ul class="submenu">
            <li>
                <a href="/tools/text-generator">
                    <span>Text Generator</span>
                </a>
            </li>
            <li>
                <a href="/tools/image-generator">
                    <span>Image Generator</span>
                </a>
            </li>
            <li>
                <a href="/tools/code-generator">
                    <span>Code Generator</span>
                </a>
            </li>
            <li>
                <a href="/tools/image-editor">
                    <span>Image Editor</span>
                </a>
            </li>
            <li>
                <a href="/tools/video-generator">
                    <span>Video Generator</span>
                </a>
            </li>
            <li>
                <a href="/tools/email-generator">
                    <span>Email Generator</span>
                </a>
            </li>
            <li>
                <a tabindex="-1" class="disabled" aria-disabled="true">
                    <span>Audio Generator</span>
                    <div class="rainbow-badge-card badge-sm ml--5">COMING</div>
                </a>
            </li>
            <li>
                <a tabindex="-1" class="disabled" aria-disabled="true">
                    <span>Edu. feedback</span>
                    <div class="rainbow-badge-card badge-sm ml--5">COMING</div>
                </a>
            </li>
            <li>
                <a tabindex="-1" class="disabled" aria-disabled="true">
                    <span>Website Generator</span>
                    <div class="rainbow-badge-card badge-sm ml--5">COMING</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="with-megamenu has-menu-child-item"><a href="features.html">Features <i class="fa-regular fa-chevron-down"></i></a>
        <div class="rainbow-megamenu">
            <div class="wrapper">
                <div class="row row--0">
                    <div class="col-lg-3 single-mega-item">
                        <ul class="mega-menu-item">
                            <li>
                                <h3 class="rbt-short-title">Inner Pages</h3>
                            </li>
                            <li>
                                <a href="/pages/style-guide">
                                    <span>Style Guide</span>
                                    <div class="rainbow-badge-card badge-sm ml--5">Hot</div>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/blog">
                                    <span>Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/blog-details">
                                    <span>Blog Details</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/pricing">
                                    <span>Pricing</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/contact">
                                    <span>Contact</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/signin">
                                    <span>Sign In</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/signup">
                                    <span>Sign Up</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/team">
                                    <span>Team</span>

                                </a>
                            </li>
                            <li>
                                <a href="/pages/terms-policy">
                                    <span>Terms & Policy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/privacy-policy">
                                    <span>Privacy Policy</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 single-mega-item">
                        <ul class="mega-menu-item">
                            <li>
                                <h3 class="rbt-short-title">DASHBOARD PAGES</h3>
                            </li>
                            <li>
                                <a href="/pages/profile-details">
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/notification">
                                    <span>Notification</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/chat-export">
                                    <span>Chat Export</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/appearance">
                                    <span>Apperance</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/plans-billing">
                                    <span>Plans and Billing</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/sessions">
                                    <span>Sessions</span>

                                </a>
                            </li>
                            <li>
                                <a href="/pages/application">
                                    <span>Application</span>

                                </a>
                            </li>
                            <li>
                                <a href="/pages/release-notes">
                                    <span>Release notes</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/help">
                                    <span>Help & FAQs</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 single-mega-item">
                        <ul class="mega-menu-item br--0">
                            <li>
                                <h3 class="rbt-short-title">Upcoming Advance Elements</h3>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Product Description</span>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Youtube Vedio to Post</span>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Grammar Check</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Generate From RSS</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Video Script</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Audio to Text</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Subscription</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Maintanence</span>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="disabled">
                                    <span>Coming Soon</span>

                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 single-mega-item">
                        <div class="header-menu-img">
                            <img src="/static/images/menu-img/menu-img-2.png" alt="Menu Split Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li><a href="/roadmap">Roadmap</a></li>
    <li><a href="/utilize">How to use</a></li>
</ul>