<div class="rbt-default-sidebar-wrapper">
    <nav class="mainmenu-nav">
        
        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
            <li><a href="/tools/text-generator"><img src="/static/images/generator-icon/text.png" alt="AI Generator"><span>Text Generator</span></a></li>
            <li><a href="/tools/image-generator"><img src="/static/images/generator-icon/photo.png" alt="AI Generator"><span>Image Generator</span>
                    <div class="rainbow-badge-card badge-sm ml--10">NEW</div>
                </a></li>
            <li><a href="/tools/code-generator"><img src="/static/images/generator-icon/code-editor.png" alt="AI Generator"><span>Code Generator</span></a></li>
            <li><a href="/tools/image-editor"><img src="/static/images/generator-icon/photo.png" alt="AI Generator"><span>Image Editor</span></a></li>
            <li><a href="/tools/video-generator"><img src="/static/images/generator-icon/video-camera.png" alt="AI Generator"><span>Video Generator</span></a></li>
            <li><a href="/tools/email-generator"><img src="/static/images/generator-icon/email.png" alt="AI Generator"><span>Email Generator</span></a></li>
            <li><a tabindex="-1" class="disabled" aria-disabled="true" role="button"><img src="/static/images/generator-icon/website-design.png" alt="AI Generator"><span>Website Generator</span><div class="rainbow-badge-card badge-sm ml--10">PRO</div></a></li>
        </ul>
    </nav>

    <div class="rbt-sm-separator"></div>

    <nav class="mainmenu-nav">
        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
            <li class="has-submenu"><a class="collapse-btn collapsed" data-bs-toggle="collapse" href="#collapseExampleMenu" role="button" aria-expanded="false" aria-controls="collapseExampleMenu"><i class="fa-sharp fa-solid fa-circle-plus"></i><span>Setting</span></a>
                <div class="collapse" id="collapseExampleMenu">
                    <ul class="submenu rbt-default-sidebar-list">
                        <li>
                            <a href="/pages/profile-details">
                                <i class="fa-sharp fa-regular fa-user"></i>
                                <span>Profile Details</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/notification">
                                <i class="fa-sharp fa-regular fa-shopping-bag"></i>
                                <span>Notification</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/chat-export">
                                <i class="fa-sharp fa-regular fa-users"></i>
                                <span>Chat Export</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/appearance">
                                <i class="fa-sharp fa-regular fa-home"></i>
                                <span>Apperance</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/plans-billing">
                                <i class="fa-sharp fa-regular fa-briefcase"></i>
                                <span>Plans and Billing</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/sessions">
                                <i class="fa-sharp fa-regular fa-users"></i>
                                <span>Sessions</span>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/application">
                                <i class="fa-sharp fa-regular fa-list"></i>
                                <span>Application</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><i class="fa-sharp fa-regular fa-award"></i><span>Help & FAQ</span></a></li>
        </ul>
        <div class="rbt-sm-separator"></div>
        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
            <li><a href="/pages/release-notes"><i class="fa-sharp fa-regular fa-bell"></i><span>Release notes</span></a></li>
            <li><a href="/pages/terms-policy"><i class="fa-sharp fa-regular fa-briefcase"></i><span>Terms & Policy</span></a></li>
        </ul>
    </nav>
</div>