  <!-- Start Header Area  -->
  <header class="rainbow-header header-default header-transparent header-sticky">
    <div class="container position-relative">
        <div class="row align-items-center row--0">
            <div class="col-lg-2 col-md-6 col-6">
                <div class="logo">
                    <a href="/">
                        <img class="logo-light" src="/static/images/logo/logo.png" alt="ChatBot Logo">
                    </a>
                </div>
            </div>

            <div class="col-lg-8 d-none d-lg-block">
                <nav class="mainmenu-nav d-none d-lg-flex justify-content-center">
                    {% include '../mainMenuItem.html' %}
                </nav>
            </div>

            <div class="col-lg-2 col-md-6 col-6 position-static">
                <div class="header-right">

                    <!-- Start Header Btn  -->
                    <div class="header-btn">
                        <a class="rainbow-gradient-btn" target="_blank" href="/tools/text-generator"><span>Get Start</span></a>
                    </div>
                    <!-- End Header Btn  -->

                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar ml--5 d-flex justify-content-end d-lg-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="fa-sharp fa-regular fa-bars"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area  -->
<div class="popup-mobile-menu">
    <div class="inner-popup">
        <div class="header-top">
            <div class="logo">
                <a href="/">
                    <img class="logo-light" src="/static/images/logo/logo.png" alt="ChatBot Logo">
                </a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="fa-sharp fa-regular fa-x"></i>
                </button>
            </div>
        </div>

        <div class="content">
            {% include '../mainMenuItem.html' %}

            <div class="rbt-sm-separator"></div>
            {% include '../navbarLinks.html' %}
        </div>

        <!-- Start Header Btn  -->
        <div class="header-btn d-block d-md-none">
            <a class="btn-default @@btnClass" target="_blank" href="/tools/text-generator">Get Started Free</a>
        </div>
        <!-- End Header Btn  -->
    </div>
</div>