{% extends '../partials/layout/layout3.html' %}

{% block content %}

<div class="rbt-main-content mb--0">
    <div class="rbt-daynamic-page-content center-width">

        <!-- Dashboard Center Content -->
        <div class="rbt-dashboard-content rainbow-section-gap">
            <div class="banner-area">
                <!-- AiWavesmall Slider -->
                <div class="settings-area">
                    <h3 class="title">Releasse Notes</h3>
                </div>
            </div>
            <div class="content-page pb--50">
                <div class="chat-box-list">
                    <div class="content">
                        <!-- // 1.5.0 -->
                        <div class="row changelog_info" id="v120">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>22 October 2023</h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.5.0
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>Portfolio Single Page translate the date</p>
                                    <p><span class="update">Update</span>Advanced Custom Fields PRO Plugin</p>
                                    <p><span class="update">Fixed</span>AiWaveCore</p>
                                    <p><span class="improve">improve</span>Added Visit Site Button Target Options</p>
                                </div>
                            </div>
                        </div>

                        <!-- // 1.2.0 -->
                        <div class="row changelog_info" id="v122">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>24 March 2022</h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.2.0
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>Deprecations Issues</p>
                                    <p><span class="fixed">Fixed</span>Team Addons Issues</p>
                                    <p><span class="fixed">Fixed</span>Agency Banner Issues</p>
                                    <p><span class="fixed">Fixed</span>Typography Issues</p>
                                    <p><span class="fixed">Fixed</span>Color Issues</p>
                                    <p><span class="update">Update</span>Advanced Custom Fields PRO Plugin</p>
                                    <p><span class="update">Fixed</span>AiWaveCore</p>
                                    <p><span class="improve">improve</span>Page Speed</p>
                                </div>
                            </div>
                        </div>

                        <!-- // 1.1.2 -->
                        <div class="row changelog_info" id="v112">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>12 January 2022</h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.1.2
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>Team email issues</p>
                                    <p><span class="update">Updated</span>ACF Pro Plugin</p>
                                </div>
                            </div>
                        </div>


                        <!-- // 1.1.1 -->
                        <div class="row changelog_info" id="v111">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>19 june 2021</h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.1.1
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>Lightbox popup style issues fixing</p>
                                    <p><span class="fixed">Fixed</span>Portfolio clickable issues fixing</p>
                                </div>
                            </div>
                        </div>

                        <!-- // 1.1.0 -->
                        <div class="row changelog_info" id="v110">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>16 February 2021</h6>
                                    <p>Added</p>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.1.0
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="new">Added</span>WooCommerce</p>
                                    <p><span class="new">Added</span>Light/Dark Mode Switcher for All Demos</p>
                                    <p><span class="fixed">Fixed</span>Demo Import Issues</p>
                                    <p><span class="fixed">Fixed</span>Pricing Table Color Issues</p>
                                    <p><span class="fixed">Fixed</span>Infobox Color Issues </p>
                                    <p><span class="fixed">Fixed</span>Footer Menu Spacing Issus</p>
                                    <p><span class="fixed">Fixed</span>Header Social Network and Button Color Issues</p>
                                    <p><span class="fixed">Fixed</span>Theme Gradient Issue On Safari</p>
                                    <p><span class="fixed">Fixed</span>Theme Options Layout Broken Issues</p>
                                </div>
                            </div>
                        </div>

                        <!-- // 1.0.5 -->
                        <div class="row changelog_info" id="v105">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>04 January 2021</h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.0.5
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>Portfolio single page issues</p>
                                </div>
                            </div>
                        </div>

                        <!-- // 1.0.4 -->
                        <div class="row changelog_info" id="v104">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>10 November 2022</h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.0.4
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>Portfolio date meta issues</p>
                                    <p><span class="fixed">Fixed</span>Contact form checkbox issues </p>
                                    <p><span class="fixed">Fixed</span>Contact form radio button issues </p>
                                    <p><span class="fixed">Fixed</span>Contact form acceptance issues </p>
                                    <p><span class="fixed">Fixed</span>Contact form dropdown issues </p>
                                </div>
                            </div>
                        </div>

                        <!-- // 1.0.3 -->
                        <div class="row changelog_info" id="v103">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>02 November 2022</h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.0.3
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>Page title issues with SEO plugins </p>
                                </div>
                            </div>
                        </div>

                        <div class="row changelog_info" id="v102">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>17 October 2022 </h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.0.2
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>Global Typography Issues</p>
                                </div>
                            </div>
                        </div>
                        <div class="row changelog_info" id="v101">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>10 October 2022 </h6>
                                    <p>Issues Fixing</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.0.1
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="fixed">Fixed</span>One page scroling issues</p>
                                    <p><span class="fixed">Fixed</span>Portfolio date format changing issues</p>
                                    <p><span class="fixed">Fixed</span>Some responsive css issues</p>
                                </div>
                            </div>
                        </div>
                        <div class="row changelog_info" id="v100">
                            <div class="col-lg-3 changelog_date">
                                <div class="c_date">
                                    <h6>03 October 2020 </h6>
                                    <p>Init release</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="version_info">
                                    <div class="c_version">
                                        1.0.0
                                    </div>
                                    <div class="line bottom_half"></div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="changelog_content">
                                    <p><span class="new">New</span>Theme release</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}