{% extends '../partials/layout/layout3.html' %}

{% block content %}


<div class="rbt-team-area bg-color-1 rainbow-section-gap-big pb--0">
    <div class="container">
        <div class="row row--15 mt_dec--30">
            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                <div class="team">
                    <div class="thumbnail"><img src="/static/images/team/team-07.png" alt="Team Images">
                    </div>
                    <div class="content">
                        <h4 class="title">Aaron Griffin</h4>
                        <p class="designation">UI/UX Designer</p>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                <div class="team">
                    <div class="thumbnail"><img src="/static/images/team/team-08.png" alt="Team Images">
                    </div>
                    <div class="content">
                        <h4 class="title">Ikar Antio</h4>
                        <p class="designation">UI/UX Designer</p>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                <div class="team">
                    <div class="thumbnail"><img src="/static/images/team/team-09.png" alt="Team Images">
                    </div>
                    <div class="content">
                        <h4 class="title">Fatima Usa</h4>
                        <p class="designation">UI/UX Designer</p>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Single Team  -->

        </div>
    </div>
</div>


<!-- Start Team Area  -->
<div class="rbt-team-area bg-color-1 rainbow-section-gap-big">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
                    <h4 class="subtitle">
                        <span class="theme-gradient">Pixcels team mbember</span>
                    </h4>
                    <h2 class="title w-600 mb--20">
                        We Are Here To Serve You
                    </h2>
                </div>
            </div>
        </div>
        <div class="row row--15 mt_dec--30">
            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12 mt--30">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="/static/images/team/team-01.png" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Alejandro</h2>
                            <h6 class="subtitle">Designer</h6>
                            <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12 mt--30">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="/static/images/team/team-02.png" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">John Due</h2>
                            <h6 class="subtitle">Devoloper</h6>
                            <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12 mt--30">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="/static/images/team/team-03.png" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Joo Bieden</h2>
                            <h6 class="subtitle">Designer</h6>
                            <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
        </div>

        <div class="row row--15">
            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12 mt--30">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="/static/images/team/team-04.png" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Alejandro</h2>
                            <h6 class="subtitle">Designer</h6>
                            <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12 mt--30">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="/static/images/team/team-05.png" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">John Due</h2>
                            <h6 class="subtitle">Devoloper</h6>
                            <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12 mt--30">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="/static/images/team/team-06.png" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Joo Bieden</h2>
                            <h6 class="subtitle">Designer</h6>
                            <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
        </div>
    </div>
</div>

{% endblock content %}