{% extends './partials/layout/layout2.html' %}

{% block content %}

<!-- Start Roadmap Area  -->
<div class="roadmap-section rainbow-section-gap-big rainbow-section-gapBottom">
    <div class="container">

        <!-- // 1.5.0 -->
        <div class="row changelog_info" id="v120">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Define the problem </h6>
                    <p>25 APR, 2024</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version">
                        <i class="fa-duotone fa-check"></i>
                    </div>
                    <div class="line bottom_half"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="changelog_content">
                    <p class="text">It seems like your question is quite broad, and I'm not sure which specific problem or context you're referring to.</p>
                    <p class="title">Tacotron and Tacotron</p>
                    <ul class="content-list">
                        <li>Around 2013, the use of deep learning, especially transformer architectures, revolutionized NLP.</li>
                        <li>These models often use recurrent neural networks (RNNs), LSTM networks, or transformer architectures.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- // 1.2.0 -->
        <div class="row changelog_info" id="v122">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Train the chatbot</h6>
                    <p>25 APR, 2024</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version">
                        <i class="fa-duotone fa-check"></i>
                    </div>
                    <div class="line bottom_half"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="changelog_content">
                    <p class="text">Clearly define the purpose of your chatbot. Determine if it will provide.</p>
                    <p class="title">Choose a Platform</p>
                    <ul class="content-list">
                        <li>Around 2013, the use of deep learning, especially transformer architectures</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- // 1.1.2 -->
        <div class="row changelog_info" id="v112">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Build the app</h6>
                    <p>25 APR, 2024</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version bg-yellow">
                        <i class="fa-duotone fa-loader"></i>
                    </div>
                    <div class="line bottom_half light-bg"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="changelog_content">
                    <p class="text">Research similar apps to understand market trends and identify opportunities.</p>
                </div>
            </div>
        </div>


        <!-- // 1.1.1 -->
        <div class="row changelog_info" id="v111">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Launch the app</h6>
                    <p>25 APR, 2024</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version bg-yellow">
                        <i class="fa-duotone fa-loader"></i>
                    </div>
                    <div class="line bottom_half light-bg"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="changelog_content">
                    <p class="text">Based on user feedback and insights, plan regular updates to enhance features, fix bugs, and introduce new functionalities.</p>
                </div>
            </div>
        </div>

        <!-- // 1.1.0 -->
        <div class="row changelog_info" id="v110">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Update the app</h6>
                    <p>25 APR, 2024</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version bg-yellow">
                        <i class="fa-duotone fa-loader"></i>
                    </div>
                    <div class="line bottom_half light-bg"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="changelog_content">
                    <p class="text">Bug Fixes Address critical bugs and issues reported by users</p>
                </div>
            </div>
        </div>

        <!-- // 1.0.5 -->
        <div class="row changelog_info" id="v105">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Train the chatbot</h6>
                    <p>25 APR, 2024</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version bg-dark">
                        <i class="fa-regular fa-message-lines"></i>
                    </div>
                    <div class="line bottom_half light-bg"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="changelog_content">
                    <p class="text">If using machine learning, choose or build a suitable natural language processing (NLP) model. Popular choices.</p>
                </div>
            </div>
        </div>

        <!-- // 1.0.4 -->
        <div class="row changelog_info" id="v104">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Collect and Label</h6>
                    <p>25 APR, 2024</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version bg-dark">
                        <i class="fa-regular fa-message-lines"></i>
                    </div>
                    <div class="line bottom_half light-bg"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="changelog_content">
                    <p class="text">User Inputs Gather a diverse set of user inputs that your chatbot is likely to encounter.</p>
                </div>
            </div>
        </div>

        <!-- // 1.0.3 -->
        <div class="row changelog_info" id="v103">
            <div class="col-lg-3 changelog_date">
                <div class="c_date">
                    <h6>Add more features</h6>
                    <p>25 APR, 2024</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="version_info">
                    <div class="c_version bg-dark">
                        <i class="fa-regular fa-message-lines"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="changelog_content">
                    <p class="text">Enable the chatbot to handle and respond to multimedia inputs, such as images, videos, or audio clips.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Call TO Action Area -->
<div class="rainbow-callto-action rainbow-call-to-action style-8 content-wrapper rainbow-section-gapBottom">
    <div class="container">
        <div class="row row--0 align-items-center ">
            <div class="col-lg-12">
                <div class="inner">
                    <div class="content text-center">
                        <h3 class="title sal-animate" data-sal="slide-up" data-sal-duration="400" data-sal-delay="200">Missing a feature?</h3>
                        <p class="sal-animate" data-sal="slide-up" data-sal-duration="400" data-sal-delay="300">Anything you're missing in our product? Drop <br> a message here to let us know!</p>
                        <div class="call-to-btn text-center mt--30 sal-animate" data-sal="slide-up" data-sal-duration="400" data-sal-delay="400">
                            <a class="btn-default btn-icon" href="/pages/contact">Send feature request
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start CTA Area -->
<div class="rainbow-cta-area rainbow-section-gap rainbow-section-gapBottom-big">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="aiwave-cta">
                    <div class="inner">
                        <div class="content-left">
                            <div class="section-title text-left" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
                                <h4 class="subtitle">
                                    <span class="theme-gradient">Get Started with Pixcels</span>
                                </h4>
                                <h2 class="title w-600 mb--20">
                                    Experience Products in AI
                                </h2>
                                <p class="description b1">
                                    Based on the conversation with the AI chatbot, you will receive <br> personalized recommendations.
                                </p>
                            </div>
                            <div class="app-store-btn">
                                <a class="store-btn" href="#">
                                    <img src="/static/images/cta-img/play-app.png" alt="Play Store Button">
                                </a>
                                <a class="store-btn" href="#">
                                    <img src="/static/images/cta-img/apple-app.png" alt="Apple Store Button">
                                </a>
                            </div>
                        </div>
                        <div class="content-right">
                            <div class="img-right">
                                <img src="/static/images/cta-img/view-img.png" alt="Mobile View">
                            </div>
                        </div>
                        <div class="bg-shape-one">
                            <img src="/static/images/cta-img/bg-shape.png" alt="Bg shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}